doctype html
html
  head
    meta(name='viewport', content='width=device-width')
    meta(charset='utf-8')
    link(rel="stylesheet", href="/styles/sass/style.css")
    title Wydarzenia
  body
    header
      .container
        .brand
          img.logo(src="/ticketsy.png", alt="Ticketsy Logo")
        nav
          ul.nav-list
            li
              a(href="/") Home
            li
              a(href="/events") Events
            if isLoggedIn
              li
                a(href="/panel") Moje bilety
              li
                a.btn(href="/logout") Wyloguj
            else
              li
                a(href="/login") Login
              li
                a.btn(href="/register") Sign Up

    main
      .events-container
        .carousel-nav
          button#previous(type="button")
          button#next(type="button")
        .gallery
      .buy-form
        button(type="button" id="close-buy") X 
        form(action="/events/ticket", method="post").form 
          h2 KUP BILET
          input(type="text", name="id" hidden id="id-v" required)
          br
          input(type="number", name="seat" placeholder="Miejsce" id="totalSeats" required)
          br
          input(type="text", name="imie" placeholder="Imie" required)
          br
          input(type="text", name="nazwisko" placeholder="Nazwisko" required ) 
          br
          input(type="number", name="wiek" min="18" placeholder="Wiek (min 18 lat)" required)
          br
          button(type="submit").btn.btn-primary ZAAKCEPTUJ
    footer.footer
      .container
        .footer-content
          .footer-section
            h3 Ticketsy
            p Twoje miejsce do odkrywania i kupowania biletów na najlepsze wydarzenia.
          
          .footer-section
            h3 Szybkie linki
            ul.footer-links
              li
                a(href="/") Strona główna
              li
                a(href="/events") Wydarzenia
              li
                a(href="/about") O nas
              li
                a(href="/contact") Kontakt
        
        .footer-bottom
          p &copy; 2025 Ticketsy. Wszelkie prawa zastrzeżone. | Projekt portfolio
    
    script(src="/frontend/events-carousel.js")
    script(src="/frontend/events-ticket.js")
