doctype html
html
  head
    meta(name='viewport', content='width=device-width')
    meta(charset='utf-8')
    link(rel="stylesheet", href="/styles/sass/style.css")
    title Wydarzenia
  body
    header
      .container
        .brand
          img.logo(src="/ticketsy.png", alt="Ticketsy Logo")
        nav
          ul.nav-list
            li
              a(href="/") Home
            li
              a(href="/events") Events
            li
              a(href="/login") Login
            li
              a.btn(href="/register") Sign Up

    main
      .events-container
        .event
          img.logo(src="/demo.jpg", alt="thumbnail" )
          .event-content
            h2.title xddddd
        .event
          img.logo(src="/demo.jpg", alt="thumbnail" )
          .event-content
            h2.title xddddd
        .event
          img.logo(src="/demo.jpg", alt="thumbnail" )
          .event-content
            h2.title xddddd
        .event
          img.logo(src="/demo.jpg", alt="thumbnail" )
          .event-content
            h2.title xddddd 
        .event
          img.logo(src="/demo.jpg", alt="thumbnail" )
          .event-content
            h2.title xddddd
        .event
          img.logo(src="/demo.jpg", alt="thumbnail" )
          .event-content
            h2.title xddddd
        .event
          img.logo(src="/demo.jpg", alt="thumbnail" )
          .event-content
            h2.title xddddd
          

