doctype html
html
  head
    meta(name='viewport', content='width=device-width')
    meta(charset='utf-8')
    link(rel="stylesheet", href="/styles/sass/style.css")
    title Strona główna
  body
    header
      .container
        .brand
          img.logo(src="/ticketsy.png", alt="Ticketsy Logo")
        nav
          ul.nav-list
            li
              a(href="/") Home
            li
              a(href="/events") Events
            if isLoggedIn
              li
                a(href="/panel") Moje bilety
              li
                a.btn(href="/logout") Wyloguj
            else
              li
                a(href="/login") Login
              li
                a.btn(href="/register") Sign Up
    
    main
      .container
        .greeter
          h1 Buy your tickets 
          h2 Fast. Easy. Simple.
    footer.footer
      .container
        .footer-content
          .footer-section
            h3 Ticketsy
            p Twoje miejsce do odkrywania i kupowania biletów na najlepsze wydarzenia.
          
          .footer-section
            h3 Szybkie linki
            ul.footer-links
              li
                a(href="/") Strona główna
              li
                a(href="/events") Wydarzenia
              li
                a(href="/about") O nas
              li
                a(href="/contact") Kontakt
        
        .footer-bottom
          p &copy; 2025 Ticketsy. Wszelkie prawa zastrzeżone. | Projekt portfolio
