doctype html
html(lang="pl")
  head
    meta(name='viewport', content='width=device-width')
    meta(charset='utf-8')
    link(rel="stylesheet", href="/styles/sass/style.css")
    title Login
  body
    header
      .container
        .brand
          img.logo(src="/ticketsy.png", alt="Ticketsy Logo")
        nav
          ul.nav-list
            li
              a(href="/") Home
            li
              a(href="/events") Events
            li
              a(href="/login") Login
            li
              a.btn(href="/register") Sign Up
    
    main
      .form-container
        .form-card
          h1 Witamy spowrotem!
          p.form-subtitle Zaloguj się na konto
          
          form.form(action="/login" method="POST")
            .form-group
              label(for="email") Email
              input#email(type="email" name="email" placeholder="twoj@email.com" required)
            
            .form-group
              label(for="password") Hasło
              input#password(type="password" name="password" placeholder="Wpisz swoje haslo" required)
            
            .form-options
              label.checkbox
                input(type="checkbox" name="remember")
                span Zapamiętaj mnie

            
            button.btn.btn-full(type="submit") Zaloguj
          
          p.form-footer Nie masz jeszcze konta? 
            a(href="/register")  Zarejestruj się
    footer.footer
      .container
        .footer-content
          .footer-section
            h3 Ticketsy
            p Twoje miejsce do odkrywania i kupowania biletów na najlepsze wydarzenia.
          
          .footer-section
            h3 Szybkie linki
            ul.footer-links
              li
                a(href="/") Strona główna
              li
                a(href="/events") Wydarzenia
              li
                a(href="/about") O nas
              li
                a(href="/contact") Kontakt
        
        .footer-bottom
          p &copy; 2025 Ticketsy. Wszelkie prawa zastrzeżone. | Projekt portfolio

