doctype html
html
  head
    meta(name='viewport', content='width=device-width')
    meta(charset='utf-8')
    link(rel="stylesheet", href="/styles/sass/style.css")
    title Rejestracja
  body
    header
      .container
        .brand
          img.logo(src="/ticketsy.png", alt="Ticketsy Logo")
        nav
          ul.nav-list
            li
              a(href="/") Home
            li
              a(href="/events") Events
            li
              a(href="/login") Login
            li
              a.btn(href="/register") Sign Up

    main
      .container