.panel-options-grid {
  position: relative;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  top: 25px;
  width: 95%;
  margin: auto;
  height: 82vh;

  .card {
    background-color: #f0f0f0;
    border: 1px solid #a8a29e;
    border-radius: 0.5rem;
    box-shadow: 0px 13px 24px -20px rgba(148, 148, 148, 0.5);
    transition: all;
    display: flex;
    justify-content: center;
    align-items: center;
    &:hover {
        border-color:  #4f46e5;
        transition-duration: 200ms;
        box-shadow: 0px 13px 24px -20px rgba(148, 148, 148, 1);
    }
  }
}
